.container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header'
  'navbar content sidebar'
  'navbar footer footer';
  gap: 10px;

  

}
  
header, nav, aside, main, footer {
  background-color: chocolate;
  padding: 1rem;

}
header {
  grid-area: header;
}
nav {
  grid-area: navbar;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

